<div class="tabs">
    <div [routerLink]="['/bookmarks']" routerLinkActive="active" class="tab bookmarks-tab">
        <div class="tab-tile">
            <i class="material-symbols-outlined">bookmark</i>
        </div>
    </div>
    <div [routerLink]="['/tasks']" routerLinkActive="active" class="tab todos-tab">
        <div class="tab-tile">
            <i class="material-symbols-outlined">task_alt</i>
        </div>
    </div>
    <div [routerLink]="['/notes']" routerLinkActive="active" class="tab notes-tab">
        <div class="tab-tile">
            <i class="material-symbols-outlined">notes</i>
        </div>
    </div>

</div>